.detail-wrapper {
    padding: 3vh 3vw 3vh 3vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0 -5px 8px -5px;
}

.detail-wrapper button {
    margin: 10vh 0vw;
}

.detail-info {
    display: flex;
}

.detail-info img {
    height: 40%;
    width: 40%;
}

.detail-text-wrapper {
    padding: 1vh 3vw;
}

.detail-columns {
    display: flex;
}

.detail-first-column, .detail-second-column {
    width: 20vw;
}

.detail-backButton {
    cursor: pointer;
    padding: 5px 30px;
    background-color: white;
    border-radius: 5px;
}

.detail-borders {
    padding-top: 10vh;
}