.cards-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.cards-list {
    width: 15vw;
    height: 40vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin: 10px;
}

.image {
    width: 100%;
}

.card-info {
    padding: 2vh;
}

.card-title {
    font-weight: 600;
}

.controlsWrapper {
    display: flex;
    justify-content: space-between;
}