header {
    margin: 3vh 3vw 3vh 3vw;
    display: flex;
    justify-content: space-between;
}

.header-dark {
    background-color: var(--dark-blue);
    color: var(--white);
}

.dark-mode-container {
    display: flex;
}

.dark-mode-btn {
    text-decoration: none;
    background-color: white;
    border: none;
}

.dark-mode-btn:hover {
    cursor: pointer;
}

.dark-mode-icon {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
}

.dark-mode-title {
    color: black;
    display: inline;
    font-weight: 500;
}