header {
    margin: 3vh 3vw 3vh 3vw;
    display: flex;
    justify-content: space-between;
}

.dark-mode-container {
    display: flex;
}

.dark-mode-btn {
    text-decoration: none;
    background-color: white;
    border: none;
}

.dark-mode-btn:hover {
    cursor: pointer;
}

.dark-mode-icon {
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
}

.dark-mode-title {
    color: black;
    display: inline;
    font-weight: 600;
}

.dark { /* Class for dark mode */
    background-color: hsl(207, 26%, 17%);
    color: #e6e6e6;
}