:root {
  --black1: hsl(207, 26%, 17%);
  --black2: hsl(209, 23%, 22%);
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: var(--black1);
  color: #e6e6e6;
}

.dark-mode-btn {
  background-color: var(--black2);
}
