:root {
  --very-dark-blue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --very-dark-blue2: hsl(200, 15%, 8%); /* Light Mode Text */
  --dark-blue: hsl(209, 23%, 22%); /* Dark Mode Elements */

  --white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
  --light-gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --dark-gray: hsl(0, 0%, 52%); /* Light Mode Input */
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: var(--very-dark-blue);
  color: #e6e6e6;
}

.dark-mode-btn {
  background-color: var(--very-dark-blue);
}
