.card-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
}

.card-wrapper {
    width: 20vw;
    height: 40vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    margin: 5vh 0;
    justify-self: center;
}

.card-link {
    text-decoration: none;
    color: black;
}

.image {
    width: 100%;
}

.card-info {
    padding: 2vh;
}

.card-title {
    font-weight: 600;
}